.productsGrid {
    margin-top: 3.2rem;
}

.navbar-brand {
    font-family: Outfit;
    font-weight: 500;
    font-size: 50px !important;
    margin-left: 50px;
}

.navbar {
    border-bottom: 1px solid rgb(180, 180, 180);
}

.nav-link {
    font-family: Outfit;
    font-weight: 200;
    color:rgb(124, 124, 124) !important;
    margin-top: 10px;
    font-size: 25px;
    margin-right: 100px;
    font-style: normal !important;
}

.nav-link:hover {
    color:rgb(170, 170, 170) !important;
}

#addProduct {
    margin-right:200px;
    padding-top:15px;
    display:inline;
    float:right !important;
    
}

/* Product boxes/divs */
.product {
    height: 300px;
    width: 300px;
    border: none !important;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px !important;
    padding: 0px !important;
    font-family: Outfit !important;
    font-weight: 200 !important;
    position: relative;
    background-size: cover !important;
    
}

/*Text inside product box */
.product span {
    background:rgba(131, 131, 131, 0.411);
    display:block;
    top: 0px;
    position: absolute;
    opacity: 1;
    color:white;
    height: 30px;
    width: 300px;
    border-radius: 1.5em 1.5em 0em 0em;
    transition: 700ms;
    
}

/* .product content hover */
.hoverContent {
    opacity:0;
    padding: 20px;
}

.product:hover .hoverContent {
    opacity:1 !important;
    transition-duration: 1s;
}

.product:hover span {
    display:block;
    color:white;
    background-color:rgba(131, 131, 131, 0.411);
    opacity: 1;
    height: 300px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding: 0px !important;
    border-radius: 25px;
    
}

/* user-side modal photo*/
.modalPhoto {
    width:100%;
    padding: 0 !important;
    border-radius: 10px 0px 0px 10px !important;
}

.modal-body.User {
    padding: 0 !important;
    padding-left: 0 !important;
}

.modal-content {
    border-radius: 10px !important;
    border: none !important;
}

.modalProductName{
    font-family: Outfit;
    font-weight: 400;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 40px;
    margin-top: 5rem;
}

.modalProductDesc{
    font-family: Outfit;
    font-weight: 200;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 40px;
    margin-top: 3rem;
}

.modalProductPrice{
    position: absolute;
    font-family: Outfit;
    font-weight: 400;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 40px;
    bottom: 7rem;
}

.addProductToCart {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#myCartHeader {
    font-family: Outfit;
}

#selectBox {
    width: 200px;
    position: absolute;
    right: 190px;
    margin-top: 1rem;
}

.hoverInnerDesc {
    height: 7.5rem;
    overflow: hidden;
}

.userModalContainer {
    padding: 0 !important;
}

.userBtnClose {
    float:right;
    padding-top:20px !important;
    padding-right:20px !important;
}

.btnAddToCart {
    display: inline-block;
}

#cartQtyTitle {
    display: inline-block;
    position: absolute;
    right: 160px;
}

#cartPriceTitle {
    display: inline-block;
    position: absolute;
    right: 72px;
}

.cartProdContainer {
    font-family: Outfit;
    font-weight: 200;
}

.cartProdName {
    display: inline-block;
}

.btnUpdateQty {
    display: inline-block;
    position: absolute;
    right: 200px;
    font-size: 12px;
}

.inputUpdateQty {
    display: inline-block;
    position: absolute;
    right: 120px;
}

.inputUpdateQty input {
    width: 70px;
}

.cartProdPrice {
    display: inline-block;
    position: absolute;
    left:392px;
}

#trashIcon {
    float: right;
}

#cartSumContainer {
    font-family: Outfit;
    font-weight: 400;
}

#cartSumTitle {
    display: inline-block;
}

#cartSum {
    display: inline-block;
    position: absolute;
    left: 405px;
}

.myOrder{
    text-decoration: none !important;
    color:rgb(100,100,100) !important;
}

.orderItemName {
    display: inline-block;
}

.orderItemQty {
    display: inline-block;
    position: absolute;
    left: 250px;
}

.orderItemPrice {
    display: inline-block;
    position: absolute;
    left:340px;
}

.orderSumTitle {
    font-weight: bold;
}

.orderSum {
    display:inline-block;
    position:absolute;
    left:340px;
}

.invalid {
    visibility:hidden;
    color: red;
}

.deleteProductFormButton {
    margin-right: 133px !important;
}